.about{
    background-color: black;
}

.about-fullscreen {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
  
.title-about{
    font-size: 2rem;
    display: flex;
    flex-direction: flex-start;
    margin-top: 0;
    padding-top: 2rem;
    margin-left: 1rem;
    color: white;
}
