.main-conatiner-about{
    background-color: var(--b-s-transparent);
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 40%;
    min-height: 30rem;
    border-radius: 3rem;
    padding: 2rem;
    margin-left: 5rem;
}

.title-about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--t-primary);
    font-size: 4rem;
}
