.main-container-projects{
    min-height: auto;
    min-width: 100%;
    background-color: var(--b-primary);
    outline: 0.1rem solid var(--t-tertiary);
    border-radius: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.25rem;
    margin: 2rem;
}

.project-item{
    background-image: url("../../images/sc-fi-texturing.png");
    background-size: 100%;
    flex: 1;
    min-width: 45%;
    min-height: 50rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    outline: 0.1rem solid var(--t-secondary);
    border-radius: 1.875rem;
    margin: 1.25rem;
}

.project-photo{
    border-radius: 2rem;
    width: 50%;
    margin: 0.5rem;
    padding: auto;
}

.project-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--t-primary);
}