.image-container{
  margin: 0;
  display: flex;
  justify-content: center;
}


#zoomed-in-div {
    z-index: 999;
    position: relative;
    top: 4em;
    left: -13em;
  }
  

#desk-image{
  position: relative;
}

