.nav-bar {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  
  .nav-ul {
    font-family: 'Minecraft';
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 8px;
    margin: 0;
    backface-visibility: hidden;
  }
  .nav-li{
    position: relative;
  }
  
  .nav-link {
    text-decoration: none;
    color: azure;
    font-weight: 400;
    margin-right: 1rem;
  }
  .nav-link:visited {
    color: azure;
  }