.Main-Container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--b-s-transparent);
    margin: 0 auto;
    padding: 4rem;
    z-index: 0;
    outline: 0.1rem solid var(--t-quad);
    max-width: 100rem;
}


@media only screen and (max-height: 600px) {
    .Main-Container {
      height: calc(100% - 4rem - 4rem - 2rem);
    }
  }
  
  @media only screen and (min-height: 601px) and (max-height: 900px) {
    .Main-Container {
      height: calc(100% - 4rem - 4rem - 4rem);
    }
  }
  
  @media only screen and (min-height: 901px) {
    .Main-Container {
      height: calc(100% - 4rem - 4rem - 6rem);
    }
  }
  
