.footer-bar {
  background-color:  var(--b-primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
}

.footer-ul {
  font-family: 'Minecraft';
  font-size: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
  backface-visibility: hidden;
}

.footer-link {
  text-decoration: none;
  color: var(--t-primary);
  font-weight: 400;
}
.footer-link:visited {
  color:  var(--t-primary);
}

.footer-link:hover{
  color: var(--t-secondary);
}



  


  
